*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid
{
    padding: 0;
}
.container-fluid .chatbot
{
    background-color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    z-index: 10;
    padding: 0;
}
.container-fluid .chatbot .fa-facebook
{
    color: blue;
    font-size: 50px;
}
.image
{
    width: 80%;
}
.container-fluid .navbar .nav1
{
    width: 10%;
}
.container-fluid .navbar .nav2 ul li a
{
    text-decoration: none;
    color: grey;
    text-transform: capitalize;
}
.container-fluid .navbar .nav2 ul li a:hover
{
    color: #5e57e3;
    font-weight: bold;
}
.container-fluid .navbar .nav3 ul
{
    float: right;

}
.container-fluid .navbar .nav3 ul .purple
{
    background-color: #5e57e3;
    padding: 5px 10px;
    border-radius: 10px;
}
.container-fluid .navbar .nav3 ul .purple a
{
    color: white;
}
.container-fluid .navbar .nav3 ul li
{
    margin-right: 20px;
}
.container-fluid .navbar .nav3 ul li a
{
    color: #5e57e3;
    text-decoration: none;
    text-transform: capitalize;
}
.container-fluid .navbar .nav3 ul li a i
{
    margin-left: 5px;
}

.container-fluid .section1 .row1 .video
{
    padding-top: 100px;
}
.container-fluid .section1 .row1 .text p
{
    padding: 50px 50px 10px 50px;
    text-align: justify ;
}
.container-fluid .section1 .row2 
{
    padding-left: 200px;
    margin-bottom: 100px;
}

.container-fluid .section1 .row2 a
{
    background-color: #5e57e3;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
}
.container-fluid .section2 .row2a
{
    text-align: center;
}
.container-fluid .section2 .row2a .col-md-3 i:hover
{
    color: black;
}
.container-fluid .section2 .row2a .col-md-3 i
{
    font-size: 22px;
    color: rgba(255, 217, 0, 0.849);
}
.container-fluid .section2 .row2a .col-md-3 h1
{
    text-transform:uppercase;
    font-size: 15px;
    padding: 10px;
}
.container-fluid .section2 .row2a .button
{
    text-transform:capitalize;
    text-decoration: none;
    color:#5e57e3;
    line-height: 100px;
    margin: auto;

}
.container-fluid .section2 .row2b .row
{
    padding: 30px;
}
.container-fluid .section2 .row2b h1
{
    text-transform: capitalize;
    font-size: 30px;
    margin-left: 30px;
}
.container-fluid .section2 .row2b .row .col-md-3 .card
{
    height: 400px;
}
.container-fluid .section2 .row2b .row .col-md-3 .card h5
{
    text-transform: capitalize;
}
.container-fluid .section2 .row2b .row .col-md-3 .card img
{
    height: 200px;
    width: 100%;
}