*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid
{
    padding: 0;
}

.container-fluid .chatbot .chat
{
    width: 7%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    z-index: 10;
}
.image
{
    width: 100%;
    height: 60px;
}
.container-fluid .navbar .nav1
{
    width: 10%;
    display: flex;
}
.container-fluid .navbar .nav1 p
{
    color: #5e57e3;
    text-transform: uppercase;
    margin-top:7px ;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 200;
}
.container-fluid .navbar .nav1 p span
{
    font-weight: 1000;
    font-size: 17px;
}
.container-fluid .navbar .nav2 ul li a
{
    text-decoration: none;
    color: grey;
    text-transform: capitalize;
}
.container-fluid .navbar .nav2 ul li a:hover
{
    color: #5e57e3;
    font-weight: bold;
}
.container-fluid .navbar .nav3 ul
{
    float: right;

}
.container-fluid .navbar .nav3 ul .purple a
{
    background-color: #5e57e3;
    padding: 10px 15px;
    border-radius: 10px;
}
.container-fluid .navbar .nav3 ul .purple a
{
    color: white;
}
.container-fluid .navbar .nav3 ul .purple a:hover
{
    color: #5e57e3;
    background-color: transparent;
    border: 2px solid #5e57e3;
}
.container-fluid .navbar .nav3 ul li a
{
    margin-right: 20px;
    color: #5e57e3;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: capitalize;
}
.container-fluid .navbar .nav3 ul li a:hover
{
    border: 2px solid #5e57e3;
    border-radius: 10px;
}
.container-fluid .navbar .nav3 ul li a i
{
    margin-left: 5px;
}

.container-fluid .section1 .row1 .video
{
    padding-top: 100px;
}
.container-fluid .section1 .row1 .text p
{
    padding: 50px 50px 10px 50px;
    text-align: justify ;
}
.container-fluid .section1 .row2 
{
    padding-left: 200px;
    margin-bottom: 100px;
}

.container-fluid .section1 .row2 a
{
    background-color: #5e57e3;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
}
.container-fluid .section1 .row2 a:hover
{
    background-color: transparent;
    border: 2px solid #5e57e3;
    color: #5e57e3;
}
.container-fluid .section2 .row2a
{
    text-align: center;
}
.container-fluid .section2 .row2a .col-md-3 i:hover
{
    color: black;
}
.container-fluid .section2 .row2a .col-md-3 i
{
    font-size: 22px;
    color: rgba(255, 217, 0, 0.849);
}
.container-fluid .section2 .row2a .col-md-3 h1
{
    text-transform:uppercase;
    font-size: 15px;
    padding: 10px;
}
.container-fluid .section2 .row2a .button
{
    text-transform:capitalize;
    text-decoration: none;
    color:#5e57e3;
    line-height: 100px;
    margin: auto;

}
.container-fluid .section2 .row2b .row
{
    padding: 30px;
}
.container-fluid .section2 .row2b h1
{
    text-transform: capitalize;
    font-size: 30px;
    margin-left: 30px;
}
.container-fluid .section2 .row2b .row .col-md-3 .card
{
    height: 400px;
    background-color: rgb(202, 207, 248);
}
.container-fluid .section2 .row2b .row .col-md-3 .card:hover
{
    background-color: white;
    border: 2px solid #5e57e3;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.container-fluid .section2 .row2b .row .col-md-3 .card h5
{
    text-transform: capitalize;
}
.container-fluid .section2 .row2b .row .col-md-3 .card img
{
    height: 200px;
    width: 100%;
}
.container-fluid .section2 .row2b .row .col-md-3 .card .card-body .btn
{
    background-color: #5e57e3;
    color: white;
}
.container-fluid .section2 .row2b .row .col-md-3 .card .card-body .btn:hover
{
    background-color: transparent;
    color: #5e57e3;
    border: 2px solid #5e57e3;
}
.container-fluid .section3 a
{
    color: #5e57e3;
    text-transform: capitalize;
    margin: 30px;
}
.container-fluid .section3 h1
{
    margin: 30px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 29px;
}
.container-fluid .section3 .row
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}
.container-fluid .section3 .row .col-md-3 .card
{
    height: 350px;
    background-color: rgb(202, 207, 248);
}
.container-fluid .section3 .row .col-md-3 .card:hover 
{
    background-color: white;
    border: 2px solid #5e57e3;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.container-fluid .section3 .row .col-md-3 .card h5
{
    text-transform: capitalize;
}
.container-fluid .section3 .row .col-md-3 .card img
{
    height: 200px;
    width: 100%;
}
.container-fluid .section3 .row .col-md-3 .card .card-body .btn
{
    background-color: #5e57e3;
    color: white;
}
.container-fluid .section3 .progress
{
    margin: 30px;
    margin-bottom: 70px;
}
.container-fluid .section4 .row .col-md-4 a.signup:hover
{
    background-color: transparent;
    color: #5e57e3;
}


/* Icons colors */
.fa-twitter
{
    color: skyblue;
}
.fa-linkedin
{
    color: blue;
}
.fa-instagram
{
    color: palevioletred;
}